{% extends 'sandwiches/home.html' %} 
{% block content %}
    <div class="content container" value="sandwiches">
        {% for sandwich in all_sandwiches %}
        <div class="row">
            <div class="post">
                <h1>
                    <p>
                        <div class="order-counter" value={{ pizza.id }}>
                            {{ pizza.name }}
                        </div>
                    </p>
                </h1>
                <p class="consumable-description">Opis: {{ pizza.description }}</p>
                <p>{{ pizza.price }} PLN {{ linebreaksbr }}</p>
                <button class="btn add-to-order btn-warning" value={{ pizza.id }}>+</button>
                <button class="btn remove-from-order btn-warning" value={{ pizza.id }}>-</button>
                <p>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock content %}