{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/pizzaportal.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="{% static "js/pizza-post-button.js" %}"></script>
    <script type="text/javascript" src="{% static "js/shopping-cart-list.js" %}"></script>
    <script type="text/javascript" src="{% static "js/order-post-button.js" %}"></script>
    <title>Title</title>
</head>
<body>
<div class="page-header">
    <h1><a href="/">Pizza - Portal</a></h1>
</div>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">MENU</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Pizza</a></li>
                    <li><a href="#">Przystawki</a></li>
                    <li><a href="#">Napoje</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            <span class="caret"></span>
                        </a>
                        <ul id="shopping-cart" class="dropdown-menu">
                            <li>
                                <form method="POST" class="add-pizza-form">
                                    {% csrf_token %}
                                    <input type="submit" class="btn post-pizza-button btn-warning"
                                           value="Podsumowanie zamówienia" name="mybtn">
                                </form>
                            </li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}

<div class="content container">
    {% for pizza in all_pizzas %}
        <div class="row">
            <div class="post">
                <h1>
                    <p>
                    <div class="order-counter" value={{ pizza.id }}>
                        {{ pizza.name }}
                    </div>
                    </p>
                </h1>
                <p class="consumable-description">Opis: {{ pizza.description }}</p>
                <p>{{ pizza.price }} PLN {{ linebreaksbr }}</p>
                <button class="btn add-to-order btn-warning" value={{ pizza.id }}>+</button>
                <button class="btn remove-from-order btn-warning" value={{ pizza.id }}>-</button>
                <p>
                </p>
            </div>
        </div>
    {% endfor %}
</div>


</body>
</html>
